.cover {
    height: 350px;
}

.account-img {
    bottom: -120px;
}

.account-img img {
    object-fit: cover;
    object-position: 20%;
    border: 4px solid #FF8682;
}

.account-img svg {
    background-color: #FF8682;
    padding: 6px;
    width: 30px;
    height: 30px;
    right: 40px;
}