body {
    background-color: #FAFBFC;
    font-size: 16px;
}

.account-details {
    margin-bottom: 170px;
}

.cover {
    height: 350px;
}

.account-img {
    bottom: -120px;
}

.account-img img {
    object-fit: cover;
    object-position: 20%;
    border: 4px solid #FF8682;
}

.upload-btn {
    bottom: 20px;
    right: 15px;
}

.vertical-line {
    height: 48px;
    width: 0.5px;
    background-color: rgb(206, 200, 200);
}

.account-img svg {
    background-color: #FF8682;
    padding: 6px;
    width: 30px;
    height: 30px;
    right: 40px;
}

.sub-details {
    margin-top: 100px;
}

.line {
    width: 20px;
    height: 3px;
    background-color: var(--secondaryColor);
}

@media screen and (max-width:550px) {
    .btn {
        --bs-btn-padding-x: 0.6rem;
        --bs-btn-padding-y: 0.35rem;
    }

    .upload-btn {
        display: none;
    }

}
.sub-tickets{
    margin-bottom: 200px;
}

.vertical-line-sub-ticket {
    height: 80px;
    width: 0.5px;
    background-color: rgb(206, 200, 200);
}
.sub-ticket img{
    border: 1px solid var(--primaryColor);
}

@media screen and (max-width:768px) {
    .vertical-line-sub-ticket {
        display: none;
    }
}

@media screen and (max-width:550px) {
    html {
        font-size: 14px;
    }

    .account-img svg {
        right: 15px;
    }
}