:root {
    --primary-font: "Montserrat", sans-serif;
    --primaryColor: #8DD3BB;
    --secondaryColor: #112211;
}

body {
    font-family: var(--primary-font);
}

.second-color {
    color: var(--secondaryColor);
}

.fs-12{
font-size: 0.75rem;
}
.salmon-color{
    color: #FF8682;
}
.light-secondary-color{
    color: #1122114b;
}
.bg-secondary-color{
background-color: var(--secondaryColor);
}
.btn-primary {
    --bs-btn-color: var(--secondaryColor);
    --bs-btn-bg: var(--primaryColor);
    --bs-btn-border-color: var(--primaryColor);
    --bs-btn-hover-color: var(--secondaryColor);
    --bs-btn-hover-bg: var(--primaryColor);
    --bs-btn-hover-border-color: var(--primaryColor);
    --bs-btn-active-color: var(--secondaryColor);
    --bs-btn-active-bg: var(--primaryColor);
    --bs-btn-active-border-color:var(--primaryColor);
    --bs-btn-disabled-color: var(--secondaryColor);
    --bs-btn-disabled-bg: var(--primaryColor);
    --bs-btn-disabled-border-color: var(--primaryColor);
}

.footer {
    background-color: var(--primaryColor);
    padding-top: 200px;
    padding-bottom: 60px;
    position: relative;
}

.sub-footer {

    background-color: #CDEAE1;
    border-radius: 20px;
    width: fit-content;  
    position: absolute;
}

.sub-footer button {
    background-color: var(--secondaryColor);
    font-size: 12px;
}

.sub-footer p {
    font-size: 15px;
}

.sub-footer input {
    padding: 10px;
    padding-right: 90px;
    font-size: 12px;
}

.sub-footer img {
    padding-left: 190px;
}

.footer .footer-item a {
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 10px;
    font-weight: 400;
}

.footer,
.footer-item h2 {
    font-size: 14px;
}

@media screen and (max-width:1400px) {
    

    .footer .left-side {
        padding: 30px 0;
    }

    .reviews {
        padding-bottom: 170px;
    }
}

@media screen and (max-width:1200px) {
    .sub-footer img {
        padding-left: 90px;
        width: 300px;
        height: 200px;

    }

   
    .footer-content {
        padding: 20px 0;

    }
    .footer .left-side{
        text-align: center;
    }
}

@media screen and (max-width:992px) {

    .footer {

        padding-top: 150px;
        padding-bottom: 10px;

    }

    .footer .left-side {
        padding: 30px 0;
        
    }

   

}

@media screen and (max-width:770px) {
    .sub-footer img {
        display: none;
    }

    .sub-footer input {
        padding: 8px;
        padding-right: 20px;
        font-size: 12px;
    }

    .footer .right-side {
        text-align: center;
    }
}