body {
    background-color: #FAFBFC;
}

.about .line {
    width: 2px;
    height: 15px;
    background-color: var(--secondaryColor);
}

.profile img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: 20%;
}

.profile svg {
    background-color: #FF8682;
    right: 50px;
}

.about .profile span {
    font-size: 12px;
}

@media screen and (max-width:760px) {

    .flight .find-flight,
    .stays .find-stay,
    .love .fav,
    .line,
    .profile span {
        display: none;
    }

    .navbar-brand img {
        width: 100px;
        height: 30px;
    }

    .navbar-brand {
        margin: 0;
    }

    .profile svg {
        right: 0;
    }

}


/*sub hero*/
.sub-hero {
    width: fit-content;
    border-radius: 20px;
    top: 170px;
    padding: 20px;
}

.sub-hero .content {
    display: flex;
}

.subhero-form,
.left-form,
.right-form {
    display: flex;
    align-items: flex-start;
}

.recording input {
    padding: 10px 150px 10px 5px;
    font-size: 12px;
    border: 1px solid #79747E;
    border-radius: 5px;

}

.recording label {
    padding: 0 2px;
    background-color: #ffff;
    left: 15px;
    top: -12px;
    width: fit-content;
    font-size: 13px;
    color: #79747E;
}

.recording .arrow {
    left: 270px;
    bottom: 10px;
}

.recording .arrow-drop {
    left: 120px;
    bottom: 10px;
}

form .trip {
    padding: 10px 1px 10px 5px;
}

.recording .search {
    background-color: var(--primaryColor);
    height: fit-content;
    padding: 8px;
    border-radius: 5px;
}

.btn-flight .btn {
    color: var(--secondaryColor);
    font-size: 14px;
    font-family: var(--primary-font);
}

.btn-flight .btn-primary {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
    padding: 12px;
    font-family: var(--primary-font);
    font-size: 12px;

}

.search .btn-flight {
    display: none;
}




@media screen and (max-width:1300px) {


    .recording input {
        padding: 10px 60px 10px 5px;
    }

    form .trip {
        padding: 10px 1px 10px 5px;
    }

    .recording .arrow {
        left: 190px;
    }
}


@media screen and (max-width:992px) {
    .sub-hero {
        top: 220px;
    }

    .recording input {
        padding: 10px 60px 10px 5px;
    }

    .recording .arrow {
        left: 170px;
    }
.search .btn{
        padding: 0 8px;
    }

    .subhero-form {
        display: block;
    }

    .recording .arrow-drop {
        left: 175px;
    }

    .left-form {
        padding-bottom: 20px;
    }

    .sub-hero .content {
        display: block;
    }

    .search .btn-flight {
        display: block;

    }

    .search {
        width: fit-content;
        margin: auto;
        margin-top: 20px;
    }



}

@media screen and (max-width:620px) {
    .sub-hero {
        top: 270px;
    }

    .recording,
    .left-form,
    .right-form {
        display: flex;
        flex-direction: column;
    }

    .recording .search {
        width: fit-content;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .sub-hero .content {
        display: block;
    }



}