body {
    background-color: #FAFBFC;
}

.about .line {
    width: 2px;
    height: 15px;
    background-color: var(--secondaryColor);
}

.profile img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: 20%;
}

.profile svg {
    background-color: #FF8682;
    right: 50px;
}

.about .profile span {
    font-size: 12px;
}

@media screen and (max-width:760px) {

    .flight .find-flight,
    .stays .find-stay,
    .love .fav,
    .nav-line,
    .profile span {
        display: none;
    }

    .navbar-brand img {
        width: 100px;
        height: 30px;
    }

    .navbar-brand {
        margin: 0;
    }

    .profile svg {
        right: 0;
    }

}


/*sub hero*/
.sub-hero {
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
}

.sub-hero .content {
    display: flex;
}

.subhero-form,
.left-form,
.right-form {
    display: flex;
    align-items: flex-start;
}

.recording input {
    padding: 10px 150px 10px 5px;
    font-size: 12px;
    border: 1px solid #79747E;
    border-radius: 5px;

}

.recording label {
    padding: 0 2px;
    background-color: #ffff;
    left: 15px;
    top: -12px;
    width: fit-content;
    font-size: 13px;
    color: #79747E;
}

.recording .arrow {
    left: 270px;
    bottom: 10px;
}

.recording .arrow-drop {
    left: 120px;
    bottom: 10px;
}

form .trip {
    padding: 10px 1px 10px 5px;
}

.recording .search {
    background-color: var(--primaryColor);
    height: fit-content;
    padding: 8px;
    border-radius: 5px;
}

.btn-flight .btn {
    color: var(--secondaryColor);
    font-size: 14px;
    font-family: var(--primary-font);
}

.btn-flight .btn-primary {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
    padding: 12px;
    font-family: var(--primary-font);
    font-size: 12px;

}

.search .btn-flight {
    display: none;
}




@media screen and (max-width:1300px) {


    .recording input {
        padding: 10px 60px 10px 5px;
    }

    form .trip {
        padding: 10px 1px 10px 5px;
    }

    .recording .arrow {
        left: 190px;
    }
}


@media screen and (max-width:992px) {

    .recording input {
        padding: 10px 60px 10px 5px;
    }

    .recording .arrow {
        left: 170px;
    }

    .search .btn {
        padding: 0 8px;
    }

    .subhero-form {
        display: block;
    }

    .recording .arrow-drop {
        left: 175px;
    }

    .left-form {
        padding-bottom: 20px;
    }

    .sub-hero .content {
        display: block;
    }

    .search .btn-flight {
        display: block;

    }

    .search {
        width: fit-content;
        margin: auto;
        margin-top: 20px;
    }



}

@media screen and (max-width:620px) {
    .recording,
    .left-form,
    .right-form {
        display: flex;
        flex-direction: column;
    }

    .recording .search {
        width: fit-content;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .sub-hero .content {
        display: block;
    }
}

/*Book-flight*/
.Book-flight{
    padding-bottom: 250px;
}

.long-line {
    background-color:rgb(206, 200, 200);
    height: 1415px;
    width: 0.5px;
    border-radius: 5px;
}

.Book-flight .filter input {
    width: 100%;
    border: none;
    outline: none;
    height: 1px;
    -webkit-appearance: none; /*Removes the browser’s default style*/
    background-color: var(--secondaryColor);
}

.accent {
    accent-color: var(--primaryColor);   /*changes the color of form elements*/
}
input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 20px;
      background:var(--primaryColor);
      border-radius: 50%;
    }
.range span{
    font-size: 10px;
    font-weight: 500;
}
.Book-flight .line{
    background-color: rgb(206, 200, 200);
    height: 0.5px;
    width:100%;
    margin: 25px 0;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    color: var(--secondaryColor);
}
.btn-outline-primary {
    --bs-btn-color:#112211 ;
    --bs-btn-border-color: #8DD3BB;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8DD3BB;
    --bs-btn-hover-border-color: #8DD3BB;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8DD3BB;
    --bs-btn-active-border-color: #8DD3BB;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #112211;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8DD3BB;
    --bs-gradient: none;
}
.btn-outline-primary {
    /* --bs-btn-color: #0d6efd; */
    --bs-btn-border-color:#8DD3BB;
    --bs-btn-hover-color: #fff;
    /* --bs-btn-hover-bg: #0d6efd; */
    /* --bs-btn-hover-border-color: #0d6efd; */
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8DD3BB;
    --bs-btn-active-border-color: #8DD3BB;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #8DD3BB;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8DD3BB;
    --bs-gradient: none;
}
.right-filter{
    width:100%;
    background-color: #ffff;
    padding: 20px;
    height: fit-content;
    
}
.vertical-line{
    height: 48px;
    width: 0.5px;
    background-color: rgb(206, 200, 200);
}
.card img{
    width: 160px;
    height: 110px;
}

.right .card{
    outline: none;
    border: none;
}
.header-right p{
    top: 12px;
    right: 50px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.line-hor{
    background-color: rgb(206, 200, 200) ;
    width: 100%;
    height: 1px;
}
.buttom-card .btn{
    --bs-btn-padding-x:1rem;
    --bs-btn-padding-y:1rem;
}
@media screen and (max-width:992px) {
.long-line{
        display: none;
    }
}
@media screen and (max-width:620px) {
    
    body{
        font-size: 12px;
    }
    .other-sort{
        display: none;
    }
}
