.sub-hero {
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
}

.sub-hero .content {
    display: flex;
}

.subhero-form,
.left-form,
.right-form {
    display: flex;
    align-items: flex-start;
}

.recording input {
    padding: 10px 150px 10px 5px;
    font-size: 12px;
    border: 1px solid #79747E;
    border-radius: 5px;

}

.recording label {
    padding: 0 2px;
    background-color: #ffff;
    left: 15px;
    top: -12px;
    width: fit-content;
    font-size: 13px;
    color: #79747E;
}


form .small-form {
    padding: 10px 1px 10px 5px;
}

.recording .search {
    height: fit-content;
    padding: 7px;
    border-radius: 5px;
}

.search .search-text {
    display: none;
}

.sub-hero .recording svg {
    margin-top: -10px;
}


@media screen and (max-width:1300px) {


    .recording input {
        padding: 10px 60px 10px 24px;
    }

    form .small-form {
        padding: 10px 1px 10px 5px;
    }

}


@media screen and (max-width:992px) {

    .recording input {
        padding: 10px 60px 10px 24px;
    }


    .subhero-form {
        display: block;
    }

    .left-form {
        padding-bottom: 20px;
    }

    .sub-hero .content {
        display: block;
    }

    .search .search-text {
        display: block;

    }

    .recording .search {
        width: fit-content;
        margin: auto;
        padding: 8px 12px;
        margin-top: 20px;
    }

}

@media screen and (max-width:620px) {

    .recording,
    .left-form,
    .right-form {
        display: flex;
        flex-direction: column;
    }

    .recording .search {
        width: fit-content;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .sub-hero .content {
        display: block;
    }
}