.about .line {
    width: 2px;
    height: 15px;
    background-color: var(--secondaryColor);
}

.profile img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: 20%;
}

.profile svg {
    background-color: #FF8682;
    right: 50px;
}

.about .profile span {
    font-size: 12px;
}

@media screen and (max-width:760px) {

    .flight .find-flight,
    .stays .find-stay,
    .love .fav,
    .nav-line,
    nav .profile span {
        display: none;
    }

    .navbar-brand img {
        width: 100px;
        height: 30px;
    }

    .navbar-brand {
        margin: 0;
    }

    .profile svg {
        right: 0;
    }
}

.hero .card {
    background:
        linear-gradient(to left, #00234d00, #00234dac),
        url("../img/hotel-search/resort.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 530px;
}

.hero .card-title {
    width: 30%;
}

@media screen and (max-width:870px) {
    .hero .card-title {
        width: 50%;
    }
}

@media screen and (max-width:620px) {
    .hero .card {
        height: 400px;
    }

    .hero .card-title {
        width: 80%;
    }
}

.sub-hero {
    background-color: #ffff;
    width: fit-content;
    border-radius: 20px;

}

.sub-hero p {
    font-size: 25px;
    padding: 16px;
}

.sub-hero a {
    color: var(--secondaryColor);
}

.subhero-form,
.left-form,
.right-form {
    display: flex;
}

.recording input {
    padding: 10px 150px 10px 5px;
    font-size: 12px;
    border: 1px solid #79747E;
    border-radius: 5px;

}

.recording label {
    position: relative;
    padding: 0 2px;
    background-color: #ffff;
    left: 15px;
    top: 9px;
    width: fit-content;
    font-size: 13px;
    color: #79747E;
}

.sub-hero .btn-places {
    width: fit-content;
}


form .small-form {
    padding: 10px 20px 10px 5px;
}

@media screen and (max-width:1300px) {


    .recording input {
        padding: 10px 60px 10px 5px;
    }

    form .small-form {
        padding: 10px 1px 10px 5px;
    }


}



@media screen and (max-width:992px) {


    .recording input {
        padding: 10px 60px 10px 24px;
    }

    .subhero-form {
        display: block;
    }
}

@media screen and (max-width:770px) {

    .left-form,
    .right-form {
        display: none;
    }

    .sub-hero {
        text-align: center;
    }

    .recording {
        display: none;
    }

    .sub-hero p {
        font-size: 15px;
        padding: 16px;
        margin: 0;
    }
    .sub-hero .btn-places {
        margin: 0 0 20px 16px;
    }


}

@media screen and (max-width:400px) {
    .btn.promo-code {
        display: none;
    }

    
}

.recent-searches{
    margin-top: 100px;
}

.choices .card {
    max-height: 420px;
}

.choices img {
    min-height: 420px;
}

.choices-content .left p {
    font-size: 13px;
}


.right-side .btn {
    background-color: #ffff;
    border-color: var(--primaryColor);
    padding: 12px 16px;
    color: var(--secondaryColor);
}

.right-side .btn-second {
    display: none;
}

@media screen and (max-width:768px) {
    .right-side .btn-first {
        display: none;
    }

    .right-side .btn-second {
        display: block;
        padding: 10px 5px;

    }
    
}
.Backpacking {
    margin-bottom: 250px;
}


.Backpacking .content {
    background-color: var(--primaryColor);

}

.Backpacking .content .price {
    height: fit-content;
}

.Backpacking .up,
.Backpacking .down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;

}

.Backpacking .img {
    max-width: 300px;
}

.Backpacking .col-xl-6.col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:1400px) {

    .Backpacking .up img,
    .down img {
        width: 250px;
    }
}

@media screen and (max-width:525px) {

    .Backpacking .up img,
    .down img {
        width: 100%;
    }

    .Backpacking .content h1 {
        font-size: 20px;
    }
}
.modal-dialog{
    width: 320px;
    right: 175px;
    top: 40px;
}

@media screen and (max-width:750px){
    .modal-dialog{
    right: 125px;
    top: 40px;
}
}
@media screen and (max-width:560px){
    .modal-dialog{
    right: -8px;
    top: 52px;
}
}