:root{
    font-family: "Montserrat", sans-serif;
    --primary-font: "Montserrat", sans-serif;
    --primaryColor:#8DD3BB;
    --secondaryColor:#112211;
}
body{
    height: 5000px;
}
.body_bg{
    background-image:url("../img/Home-page/nav-hero/home-img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 30px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    /*filter: brightness(.75);*/
}
.home-btn .btn{
    color: white;
    transition: all .5s;
}
.home-btn .btn:hover{
    color:var(--secondaryColor);
    background-color: white;
    border-color: white;
}
.hero-content h1{
    font-size: 45px;
}
.hero-content h2{
    font-size: 80px;
}
.sub-hero{
    background-color: #ffff;
    
    border-radius: 20px;
    position: absolute;
    left: 210px;
    bottom: -70px;
}
.sub-hero a{
    color: var(--secondaryColor);
}
.sub-hero .line{
    background-color: #D7E2EE;
    width: 3px;
    height: 28px;
}
.under_line{
    background-color: var(--primaryColor);
    width: 80px;
    height: 3px;
    margin-left: 18px;
    
}
.recording input{
    padding: 10px 150px 10px 5px;
    font-size: 12px;
    border: 1px solid #79747E;
    border-radius: 5px;
    
}

.recording label{
    position: relative;
    padding: 0 2px;
    background-color: #ffff;
    left: 15px;
    top: 9px;
    width: fit-content;
    font-size: 13px;
    color: #79747E;
}

.recording .arrow{
    left: 260px;
    bottom: 30px;
}
.recording .arrow-drop{
    left: 120px;
    bottom: 30px;
}
.sub-hero .btn-flight .btn{
    color: var(--secondaryColor);
    font-size: 14px;
    font-family: var(--primary-font);
}
.sub-hero .btn-flight .btn-primary
 {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
    padding: 12px;
    font-family: var(--primary-font);
    font-size: 12px;
    margin: 32px 32px 32px 0;
}
form{
    width: fit-content;
}
form .trip{
 padding: 10px 1px 10px 5px;  
}

