:root {

    --primary-font: "Montserrat", sans-serif;
    --primaryColor: #8DD3BB;
    --secondaryColor: #112211;
}

body {
    height: 5000px;
    font-family: "Montserrat", sans-serif;
}

.body_bg {
    background-image: url("../img/Home-page/nav-hero/home-img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 30px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    opacity: .95;
    /*filter: brightness(.75);*/
}

.home-btn .btn {
    color: white;
    transition: all .5s;
}

.home-btn .btn:hover {
    color: var(--secondaryColor);
    background-color: white;
    border-color: white;
}

.home-btn .user {
    display: none;
}

.hero-content h1 {
    font-size: 45px;
}

.hero-content h2 {
    font-size: 80px;
}

.sub-hero {
    background-color: #ffff;
    width: fit-content;
    border-radius: 20px;
    margin-top: 170px;
    place-self: center;


}

.sub-hero a {
    color: var(--secondaryColor);
}

.sub-hero .line {
    background-color: #D7E2EE;
    width: 3px;
    height: 28px;
}

.under_line {
    background-color: var(--primaryColor);
    width: 80px;
    height: 3px;
    margin-left: 18px;

}

.subhero-form,
.left-form,
.right-form {
    display: flex;
}

.recording input {
    padding: 10px 150px 10px 5px;
    font-size: 12px;
    border: 1px solid #79747E;
    border-radius: 5px;

}

.recording label {
    position: relative;
    padding: 0 2px;
    background-color: #ffff;
    left: 15px;
    top: 9px;
    width: fit-content;
    font-size: 13px;
    color: #79747E;
}

.recording .arrow {
    left: 260px;
    bottom: 30px;
}

.recording .arrow-drop {
    left: 120px;
    bottom: 30px;
}

.btn-flight .btn {
    color: var(--secondaryColor);
    font-size: 14px;
    font-family: var(--primary-font);
}

.btn-flight .btn-primary {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
    padding: 12px;
    font-family: var(--primary-font);
    font-size: 12px;

}

.sub-hero .btn-flight .btn-primary {
    margin: 32px 32px 32px 0;
}

form {
    width: fit-content;
}

form .trip {
    padding: 10px 1px 10px 5px;
}

@media screen and (max-width:1300px) {


    .recording input {
        padding: 10px 60px 10px 5px;
    }

    form .trip {
        padding: 10px 1px 10px 5px;
    }

    .recording .arrow {
        left: 190px;
    }
}

@media screen and (max-width:1100px) {
    .body_bg {
        margin: 15px;
        border-radius: 15px;
    }



}


@media screen and (max-width:992px) {
    .body_bg {
        margin: 5px;
        border-radius: 5px;
    }

    .flight,
    .stays {
        display: none;
    }

    .home-btn .btn {
        display: none;
    }

    .home-btn .user {
        display: block;
        background-color: var(--primaryColor);
        border: none;
        outline: none;
        padding: 5px 15px;
        border-radius: 5px;

    }

    .hero-content h1 {
        font-size: 35px;
    }

    .hero-content h2 {
        font-size: 60px;
    }



    .recording input {
        padding: 10px 60px 10px 5px;
    }

    .recording .arrow {
        left: 170px;
    }

    .subhero-form {
        display: block;
    }

    .recording .arrow-drop {
        left: 170px;
    }

    .suggested-places .items {
        display: block;
    }

    .suggested-places span {
        display: none;
    }

    .sub-hero {
        margin-top: 120px;
    }

}

@media screen and (max-width:620px) {
    .body_bg {
        margin: 0;
        border-radius: 0;
    }

    .hero-content h1 {
        font-size: 20px;
    }

    .hero-content h2 {
        font-size: 40px;
    }

    .left-form,
    .right-form {
        display: none;
    }

    .sub-hero {
        margin-top: 265px;
    }

    .sub-hero .btn-flight .btn-primary {
        justify-items: center;
        margin: 0 0 10px 40px;
    }


}

.suggested-places {
    margin-top: 150px;

}

.right-side .btn {
    background-color: #ffff;
    border-color: var(--primaryColor);
    padding: 12px 16px;
    color: var(--secondaryColor);
}

.suggested-places a {
    color: var(--secondaryColor);
    text-decoration: none;
}

.suggested-places .col-md-3 img {
    padding: 12px;
}

.suggested-places .items {
    display: flex;
}

.right-side .btn-second {
    display: none;
}

@media screen and (max-width:620px) {
    .right-side .btn-first {
        display: none;
    }

    .right-side .btn-second {
        display: block;
        padding: 10px 5px;

    }

    .suggested-places h5 {
        font-size: 15px;
    }

    .suggested-places a {
        font-size: 10px;
    }

    .suggested-places .col-md-3 img {
        padding: 0;
    }


}

.travel-services .card { 
    max-height: 450px;
}
.travel-services .card img{
    width: 100%;
    min-height: 450px;
    object-fit: cover;
   
}

.reviews .right-side .btn{
    padding: 7px 10px;
    font-size: 12px;
}
.reviews .card a{
    color: var(--secondaryColor);
    text-align: end;
}

.reviews .card{
    box-shadow: 15px 15px 2px #8dd3baa0;
}