.special-font {
    font-family: "Open Sans", sans-serif;
}

.register label {
    top: -13px;
    left: 10px;
}

.register .hide {
    top: 15px;
    right: 15px;
}

.carousel-control-next,
.carousel-control-prev {
    display: none;
}

.carousel-inner img {
    height: 650px;
}

.carousel-indicators .active {
    background-color: var(--primaryColor);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@media screen and (max-width:1000px) {
    .carousel-inner img {
        height: 550px;
    }
}

@media screen and (max-width:620px) {
    html {
        font-size: 14px;
    }
}